extends layout.pug
block body
	if(errors)
		pre #{errors}
	form(method='post' action='/admin/'+loadedType.s+'/'+action+'/'+(id ? id : ''))
		case loadedType.s
			when 'user'
				include ../admin/forms/user.pug
			when 'building'
				include ../admin/forms/building.pug
			when 'tour'
				include ../admin/forms/tour.pug
			when 'neighborhood'
				include ../admin/forms/neighborhood.pug
			default
				- var noForm = true
				| No form for "#{loadedType.s}"
		.buttons
			a.button(href='/admin/'+loadedType.p) View all #{loadedType.p}
			-if(!noForm)
				input(loadedType='submit' value=action).button
	.quickCreates