.row
	+input('streetAddress', 'Street Address', 'text', (object ? object.streetAddress : ''), true)
.row
	+input('name', 'Name', 'text', (object ? object.name : ''))
.row
	.cell
		+input('researchBy', 'Researched By', 'text', (object ? object.researchBy : ''))
	.cell
		+input('researchYear', 'Research Year', 'text', (object ? object.researchYear : ''))
.row
	+input('dateConstructed', 'Date Constructed', 'text', (object ? object.dateConstructed : ''))
.row
	+input('architect', 'Architect', 'text', (object ? object.architect : ''))
.row
	+input('currentTenant', 'Current Tenant', 'text', (object ? object.currentTenant : ''))
.row
	+checkboxes('neighborhood', 'Neighborhood', false, true)
.row
	+input('originalProgram', 'Original Program', 'text', (object ? object.originalProgram : ''))
.row
	+input('program', 'Program', 'text', (object ? object.program : ''))