.row
	+input('address', 'Street Address', 'text', (object ? object.address : ''), true)
.row
	+input('name', 'Name', 'text', (object ? object.name : ''))
.row
	+images('images', (object ? object.images : ''), false)
.row.two
	.cell
		+input('researchBy', 'Researched By', 'text', (object ? object.researchBy : ''))
	.cell
		+input('researchYear', 'Research Year', 'text', (object ? object.researchYear : ''))
.row
	+input('architect', 'Architect', 'text', (object ? object.architect : ''))
.row
	+input('client', 'Client', 'text', (object ? object.client : ''))
.row
	+input('dateConstructed', 'Date Constructed', 'text', (object ? object.dateConstructed : ''))
.row
	label= 'Era'
	.module.checkboxes(data-type='checkboxes', data-model=type, class=type, data-checked=(object ? object[type] : ''))
		+checkbox('era', '1638-1860', '1638-1860', false)
		+checkbox('era', '1860-1910', '1860-1910', false)
		+checkbox('era', '1910-1950', '1910-1950', false)
		+checkbox('era', '1950-1980', '1950-1980', false)
		+checkbox('era', '1980-Today', '1980-Today', false)
.row
	+checkboxes('tour', 'Tour(s)', true, true)
.row
	+checkboxes('neighborhood', 'Neighborhood', true, true)
.row.two
	.cell
		+input('originalUse', 'Original Use', 'text', (object ? object.originalUse : ''))
	.cell
		+input('use', 'Current Use', 'text', (object ? object.use : ''))
.row
	+input('currentTenant', 'Current Tenant', 'text', (object ? object.currentTenant : ''))
.row
	+textarea('research', 'Research', (object ? object.research : ''))