.mapWrap {
	width: calc(100% - #{$navWidth});
	height: 100%;
	position: absolute !important;
	left: #{$navWidth + $navPad};
	top: 0;
	display: inline-block;
	overflow: hidden;
	.map {
		display: table;
		position: absolute;
		z-index: 9;
		display: block;
	}
}
.buildings {
	.building {
		display: table;
		float: left;
		background: transparent !important;
		.image {
			display: block;
			background: rgba(255,0,0,0.2);
		}
		&.hover .image, .image:hover {
			background: rgba(255,0,0,0.8);	
		}
	}
}