aside {
	width: $sideWidth;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
  line-height: 1.2em;
	clear: both;
	background: $yellow;
	header {
		z-index: 10;
		width: calc(#{$sideWidth} - #{$sidePad}*2);
		position: absolute;
		left: 0;
		top: 0;
		padding: $sidePad;
		background: $yellow;
		.tabs {
			display: flex;
			flex-direction: row;
	    align-items: center;
	    overflow: hidden;
			.tab {
				float: left;
				margin-right: 1em;
				&:hover {
					cursor: pointer;
				}
				&:not(.button) {
					padding-bottom: 2px;
					margin-bottom: -2px;
					&.selected {
						padding-bottom: 0;
						border-bottom: 2px solid black;
					}
				}
				&.glossary, &.index {
					padding: 0.2em auto;
				}
			}
			.buttons {
				float: right;
				margin-right: 0;
				display: flex;
				margin-left: auto;
			}
			.button {
				width: 1.5em;
				height: 1.5em;
				padding: 1px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				float: right;
				&:last-child {
					margin-right: 0;
				}
				&.info {
					background-image: url(/img/i.svg);
				}
				&.close {
					background-image: url(/img/x.svg);
				}
			}
			&:last-child {
				padding-right: 0;
			}
			.search {
				width: auto;
				// flex-grow: 1;
				form {
					width: 100%;
					margin: 0;
					padding: 0;
					input {
						width: calc(100% - 0.4em);
						padding: 0.2em;
						background: $yellow;
					}
				}
			}
		}
	}
	.inner {
		width: calc(100% - #{$sidePad}*2);
		height: calc(100% - (#{$sidePad}*2 + 2.1em));
		padding: 0 $sidePad;
		margin: $sidePad*4 0;
		overflow: auto;
		section {
			width: 100%;
			height: 100%;
			background: $yellow;
			display: none;
			pointer-events: none;
			&.show {
				display: block;
				pointer-events: all;
			}
			h1, h2, h3 {
				padding: 0;
				margin: 0;
				line-height: 1.15em;
			}
			h1 {
				margin-bottom: 0.5em;
			}
			h3 {
				span {
					&::before {
						content: ' ';
					}
				}
			}
			p {
				margin-top: 0;
			}
		}
	}
	h3 {
		margin: 0;
		clear: both;
	}
	ul {
		li.add {
			opacity: 0.25;
			text-transform: capitalize;
		}
	}
	.group {
		width: 100%;
		display: table;
		margin-bottom: 2em;
	}
	#filter, #index {
		font-size: $xlargeFont;
		line-height: 1.1em;
		ul.nested {
			width: 100%;
			margin: 0;
			float: left;
			@include noSelect;
			li {
				padding: 0.1em 0;
				display: table;
				a {
					color: black;
					text-decoration: none;
					&.selected {
						border-bottom: 2px solid black;
					}
				}
				$arrowSize: 1.2em;
				.title {
					line-height: 1.1em;
					padding-left: $arrowSize + 0.2em;
					display: table;
					background-image: url(/img/arrow_right.svg);
					background-size: $arrowSize auto;
					background-repeat: no-repeat;
					background-position: 0 center;
					&::after {
						content: '';
						background-image: url(/img/arrow_down.svg);
						display: none;
					}
					&.toggled {
						background-image: url(/img/arrow_down.svg);
					}
					&:hover {
						cursor: pointer;
					}
				}
				ul {
					display: none;
					padding: 0.1em 0 0.1em ($arrowSize*2);
					&.open {
						display: block;
					}
				}
			}
		}
	}
	#archive {
		font-size: 1.5em;
		line-height: 1.25em;
	}
	#glossary {
		.add, .alpha, .term, .name, .definition {
			margin-bottom: 1em;
		}
		.alpha, .add {
			font-size: 1.5em;
			line-height: 1.25em;
		}
	}
	.full & {
		background: transparent;
		pointer-events: none;
		section, header {
			display: none !important;
		}
		#closedHeader {
			display: table;
			pointer-events: all;
		}
	}
	#closedHeader {
		font-size: $xlargeFont;
		line-height: 1.1em;
		display: none;
		&:hover {
			cursor: pointer;
		}
	}
}