include ./mixins
doctype html
html(lang='en')
	head
		script(type='text/javascript' src='/js/jquery-3.0.0.min.js')
		script(type='text/javascript' src='/js/jquery-ui.min.js')
		script(type='text/javascript' src='/js/jquery.pep.js')
		script(type='text/javascript' src='/js/masonry.pkgd.min.js')
		script(type='text/javascript' src='/js/jquery.transit.min.js')
		script(type='text/javascript' src='/js/main.js')
		script(type='text/javascript' src='/js/public.js')
		link(rel='stylesheet' href='/css/style.css')
	body
		main
			include ./nav
			block body